.ShareSecret {
  padding: 10px;
}
.ShareSecret > button {
  margin-top: 10px;
}

.comment {
  :global(.ant-comment-content) {
    background-color: #f0f2f5 !important;
    padding: 8px 12px;
    border-radius: 1rem;
  }
  :global(.ant-comment-content-author-name) {
    font-size: 13px;
    font-weight: 600;
    color: black;
  }
}

.card {
  margin-bottom: 30px;
  border-radius: 2rem;
  padding: 2rem;
  background-color: #fff;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  transition: box-shadow 0.3s ease;
}
@media screen and (max-width: 768px) {
  .card {
    padding: 0 !important;
  }
}

.card:hover {
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.editor {
  & :global(textarea) {
    background-color: #f0f2f5;
    border: none;
    border-radius: 2rem;
    padding: 1rem;
  }
}
