.formLabel :global(.ant-form-item-label > label) {
  min-width: 100px;
}

.loginBtn {
  width: 100%;
}

.loginBtn :global(.ant-btn-primary) {
  width: 100%;
}

.registerIconWrapper {
  position: absolute;
  top: 0;
  left: 10px;
}
.registerIcon {
  font-size: 30px;
  position: relative;
  display: flex;
  align-items: center;
  transition: all 0.3s;
  height: 30px;
  margin-top: 30px;
  margin-left: 20px;
  cursor: default;
}

.registerIcon > .registerLabel {
  font-size: 20px;
  display: flex;
  align-items: center;
  position: absolute;
  transition: all 0.7s;
  background-color: rgb(38, 38, 38);
  width: 0px;
  left: 30px;
  height: 25px;
  color: white;
}
.registerIconComponent {
  cursor: pointer;
}
.registerLabelSpan {
  padding-left: 5px;
  font-weight: lighter;
  font-size: 14px;
}
.registerIcon:hover > .registerLabel {
  width: 80px;
}

.card :global(.ant-card-head-title) {
  font-weight: bolder;
  font-size: 20px;
}
